$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.form {
  margin: 15% auto 0;
  max-width: 25em;
}

.alert {
  animation: .5s ease-in-out 0s 1 light-bounce-in;
}

@keyframes light-bounce-in {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
